<div class="quote-form">
  <div class="titre-container d-flex align-items-center justify-content-center position-relative mb-4">
    <%= link_to artist_path(@artist), class: "position-absolute start-0" do %>
      <%= image_tag 'Left_arrow.svg', class: 'header-arrow' %>
    <% end %>
    <h1 class="m-0 text-center">Votre projet ?</h1>
  </div>

  <%= simple_form_for @quote_request, url: artist_quote_requests_path(@artist), html: { class: "needs-validation" } do |f| %>
    <!-- Style (select multiple) -->
    <div class="mb-4">
      <%= f.input :style,
        label: "Catégorie",
        collection: Category.pluck(:name),
        as: :select,
        input_html: { class: "form-select", prompt: "Sélectionnez un style"}
      %>
    </div>

    <!-- Couleurs (cases à cocher multiples) -->
    <div class="mb-4">
      <%= f.label :color, "Couleurs", class: "form-label d-block" %>
      <div class="d-flex flex-wrap gap-3">
        <% ["Noir", "Couleur"].each do |color_option| %>
          <% checkbox_id = "quote_request_color_#{color_option.parameterize}" %>
          <div class="form-check">
            <%= check_box_tag "quote_request[color][]", color_option, @quote_request.color&.include?(color_option), id: checkbox_id, class: "form-check-input" %>
            <%= label_tag checkbox_id, color_option, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Zones à tatouer (cases à cocher multiples) -->
    <div class="mb-4">
      <%= f.label :body_zone, "Zones à tatouer", class: "form-label d-block" %>
      <div class="d-flex flex-wrap gap-3">
        <% ["Bras", "Jambe", "Dos", "Poitrine"].each do |zone| %>
          <% checkbox_id = "quote_request_body_zone_#{zone.parameterize}" %>
          <div class="form-check">
            <%= check_box_tag "quote_request[body_zone][]", zone, @quote_request.body_zone&.include?(zone), id: checkbox_id, class: "form-check-input" %>
            <%= label_tag checkbox_id, zone, class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Taille approximative (input texte) -->
    <div class="mb-3">
      <%= f.input :size, label: "Taille approximative", input_html: { class: "form-control" } %>
    </div>

    <!-- Commentaires -->
    <div class="mb-3">
      <%= f.input :comments, as: :text, label: "Commentaires (allergies, précisions…)", input_html: { class: "form-control", rows: 4, placeholder: "Mentionnez ici vos allergies, préférences ou demandes spécifiques" } %>
    </div>

    <%= f.hidden_field :artist_id, value: @artist.id %>

    <div class="mb-3">
      <%= f.button :submit, "Envoyer la demande", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
