<div class="devise-container">
  <h2 class="mb-4 text-center">Créer un compte</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false } }) do |f| %>
    <%= f.error_notification %>

        <% if flash[:alert] %>
          <div class="alert alert-danger mt-3y">
            <%= flash[:alert] %>
          </div>
        <% end %>

    <% if resource.errors.any? %>
      <div class="alert alert-danger mt-3">
        <h4 class="alert-heading">Erreurs :</h4>
        <ul class="mb-0">
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-inputs d-flex flex-column gap-2">
      <div class="row">
        <div class="col-6">
          <%= f.input :first_name,
                      label: false,
                      placeholder: "Prénom",
                      required: true,
                      input_html: { autocomplete: "given-name", class: "form-control border border-secondary" } %>
        </div>

        <div class="col-6">
          <%= f.input :last_name,
                      label: false,
                      placeholder: "Nom",
                      required: true,
                      input_html: { autocomplete: "family-name", class: "form-control border border-secondary" } %>
        </div>
      </div>

      <%# <div class="row"> %>
        <div class="col-md-6">
          <%= f.input :email,
                      label: false,
                      placeholder: "Adresse e-mail",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "form-control border border-secondary" } %>
        </div>

        <div class="col-md-6">
          <%= f.input :pseudo,
                      label: false,
                      placeholder: "Pseudo",
                      required: true,
                      input_html: { autocomplete: "username", class: "form-control border border-secondary" } %>
        </div>

        <div class="col-md-6">
          <%= f.input :userable_type,
                      label: false,
                      collection: [["Un artiste", "Artist"], ["Un client", "Client"]],
                      prompt: "Choisissez votre rôle",
                      required: true,
                      input_html: { class: "form-select border border-secondary" } %>
        </div>
        <div class="row align-items-end">
          <div class="col-6">
            <%= f.input :password,
                        label: "Mot de passe",
                        required: true,
                        placeholder: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password", class: "form-control border border-secondary" } %>
          </div>

          <div class="col-6">
            <%= f.input :password_confirmation,
                        label: "Confirmation du mot de passe",
                        required: true,
                        input_html: { autocomplete: "new-password", class: "form-control border border-secondary" } %>
          </div>
        </div>
      <%# </div> %>
    </div>

    <%= recaptcha_v3 action: 'signup' %>
    <div class="form-actions mt-3">
      <%= f.button :submit, "S'inscrire", class: "btn btn-success btn-sm" %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
