<div class="artist-card mb-3" data-controller='artist-card'
      data-artist-card-lat-value="<%= artist.marker_map[:lat] %>"
      data-artist-card-lng-value="<%= artist.marker_map[:lng] %>">
  <!-- Premier plan -->
  <div class="artist-card-top d-flex justify-content-center align-items-center">
    <div class="top-card-container w-100 h-100 d-flex justify-content-between align-items-center">

      <!-- Partie info -->
      <%= link_to artist_path(artist), data: { turbo: false }, class: 'w-100' do %>
        <div class="top-card-info w-100 h-100 d-flex align-items-center justify-content-start">
          <div class="picture h-100">
            <%= image_tag 'profile_pic.png', class: 'rounded-circle', size: "53x53" %>
            <%#= cl_image_tag(
              artist.user&.avatar&.attached? ? artist.user.avatar.key : 'png-transparent-default-avatar-thumbnail.png',
              class: 'rounded-circle',
              size: "53x53"
            ) %>
            <div class="rating-circle">
              <div class="rating">
                <i class="fa-solid fa-star"></i>
                <%# <%= user.rating %>
                <p><%= artist.rating %></p>
              </div>
            </div>
          </div>
          <div class="text-info d-flex flex-column align-items-start justify-content-between h-100">
            <h3 class="artist-name"><%= artist.user.pseudo %></h3>
            <p class="artist-username"><%= artist.user.bio.split[0, 4].join(" ") %>…</p>
            <p class="artist-bio">
              <% if artist.user.categories.present? %>
                <%= artist.user.categories.limit(3).map do |category|
                      words = category.name.split(/\s+/).first(3)   # limite à 3 mots
                      "#" + words.join(" #")
                    end.join(" ") %>
              <% else %>
                #
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
      <!-- Partie Loc -->
      <div class="top-card-loc text-center">
        <button class="toggle-down-btn btn p-0 border-0 bg-transparent d-flex flex-column align-items-center w-100"
                data-action="click->artist-card#toggleBack">
          <i class="fa-solid fa-map-location-dot mb-1" style="color: #000000;"></i>
          <p class="artist-location m-0">
            <!--affichage de la difference de km -->
            <% if current_user %>
              <%= artist.distance_to(current_user.latitude, current_user.longitude) %> km
            <% end %>
          </p>
        </button>
      </div>
    </div>
  </div>

  <!-- Second plan -->
  <div class="artist-card-down p-3 w-100 d-flex justify-content-between align-items-end" data-artist-card-target='down'>

    <!-- Section photos -->
    <div class="artist-card-down-container justify-content-center align-items-end">
      <div class="photos w-100" data-artist-card-target='photos'>
          <div class="artist-card-down-img d-flex gap-4 align-items-end">
            <% artist.photos.last(6).each do |photo| %>
              <%= cl_image_tag photo.key, class: "publication rounded", width: 110, height: 137 %>
            <% end %>
          </div>
      </div>

      <!-- Section map -->
      <div class="map hidden rounded" data-artist-card-target='map'
      data-controller="map"
      data-map-lat-value="<%= artist.marker_map[:lat] %>"
      data-map-lng-value="<%= artist.marker_map[:lng] %>"
      data-map-api-key-value="<%= ENV['MAP_BOX_API_KEY'] %>">
        <%#= render partial: 'artists/map', locals: { marker: artist.marker_map} %>
      </div>
    </div>
  </div>
</div>
