<div class="quote-form">
  <div class="titre-container d-flex align-items-center justify-content-center position-relative mb-4">
    <% if @booking.message_feed.present? %>
      <%= link_to message_feed_path(@booking.message_feed), class: "position-absolute start-0" do %>
        <%= image_tag 'Left_arrow.svg', class: 'header-arrow' %>
      <% end %>
    <% else %>
      <%= link_to bookings_path, class: "position-absolute start-0" do %>
        <%= image_tag 'Left_arrow.svg', class: 'header-arrow' %>
      <% end %>
    <% end %>
    <h1 class="m-0 text-center">Validation du projet</h1>
  </div>

  <%= form_with(model: @booking, local: true, html: { multipart: true, class: "needs-validation" }) do |f| %>
    <div class="mb-4">
      <%= f.label :booking_date, "Date proposée", class: "form-label" %>
      <%= f.date_field :booking_date, class: "form-control" %>
    </div>

    <div class="mb-4">
      <%= f.label :price, "Prix proposé (€)", class: "form-label" %>
      <%= f.number_field :price, class: "form-control", step: 1 %>
    </div>

    <div class="mb-4">
      <%= f.label :photo, "Référence visuelle (optionnelle)", class: "form-label" %>
      <%= f.file_field :photo, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.submit "Envoyer au client", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
