<nav class="curved-navbar">
  <div class="wave"></div>
  <ul class="nav-icons">
    <li><a href="#"><%= image_tag 'loc_icon.svg' %></a></li>
    <li><a href="#"><%= image_tag 'Favorite_fill.svg' %></a></li>
    <li class="search-icon"><a href="#"><%= image_tag 'Search_icon.svg' %></i></a></li>
    <li><a href="#"><%= image_tag 'Chat_fill.svg' %></a></li>
    <li><a href="#"><%= image_tag 'User_circle.svg' %></a></li>
  </ul>
</nav>
