<nav class="curved-navbar">
  <div class="wave"></div>
  <ul class="nav-icons">
    <li><a href="#"><%= image_tag 'loc_icon.svg', class: 'icon' %></a></li>
    <li>
      <%= link_to follows_path do %>
        <%= image_tag 'Favorite_fill.svg', class: 'icon', alt: 'Favoris' %>
      <% end %>
    </li>

    <li class="search-icon">
      <%= link_to root_path do %>
        <%= image_tag 'Search_icon.svg', class: 'icon' %>
      <% end %>
    </li>
    <li>
      <% if current_user.present? %>
        <%= link_to message_feeds_path do %>
          <%= image_tag 'Chat_fill.svg', class: 'icon' %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag 'Chat_fill.svg', class: 'icon' %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% if current_user.present? %>
        <%= link_to user_path(current_user) do %>
          <% if current_user.avatar.attached? %>
            <%= image_tag url_for(current_user.avatar), alt: "Avatar", class: "navbar-avatar" %>
          <% else %>
            <%= image_tag 'User_circle.svg', alt: "Default avatar", class: "avatar" %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <%= image_tag 'User_circle.svg', alt: "Default avatar", class: "avatar" %>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>
